.nav{
    display: flex;
    background: black;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: yellow;
}